#detail-card-absolute{
    height: 100%;
    position: absolute !important;
    left: 50px;
    top: 65%;
    z-index: 50;
}
#opacity1{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 50;
    background-color: rgba(0, 0, 0, 0.329);
}
#detail-card-absolute2{
    height: 100%;
    position: absolute !important;
    left: 50px;
    top: 35%;
    z-index: 50;
}